*, *::after, *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    background-color: darkgrey;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: clamp(150px, 15%, 300px) 5fr;
    grid-template-rows: 100px auto 50px;
    grid-template-areas:
    "head head"
    "nav main"
    "foot foot";
}

header {
    grid-area: head;
    border: solid blue;
}

nav {
    grid-area: nav;
    border: solid black;
    display: flex;
    flex-direction: column;
}

.todoArea {
    display: flex;
    border: solid orange;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    flex: 1;
    overflow: auto;
}

.projectArea {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    border: solid red;
    gap: 20px;
    padding: 20px;
    flex: 2;
}

.projectAddArea {
    border: solid blue;
    width: 100%;
}

.projectListArea {
    border: solid yellow;
    width: 100%;
}

main {
    grid-area: main;
    border: solid red;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    background-color: rgb(97, 97, 97);
    margin: 20px;
    padding: 20px;
}

.editArea {
    display: flex;
    gap: 20px;
}

.titleArea {
    border: solid blue;
}

.listArea {
    border: solid orange;
}

footer {
    grid-area: foot;
    border: solid green;
}